<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>    
    <name replace-wildcards="yes">%h</name>
    <service>
        <type>_adisk._tcp</type>        
        <port>9</port>
        <txt-record>sys=waMA=00:90:a9:39:03:e9,adVF=0x100</txt-record>
        <txt-record>dk0=adVN=TimeMachineBackup/TimeMachine,adVF=0x83</txt-record>
    </service>
</service-group>
